@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
      font-family: Nunito-Regular, system-ui, sans-serif;
      padding-left: 0.5rem; /* Tailwind padding-x-2 equivalent */
      padding-right: 0.5rem; /* Tailwind padding-x-2 equivalent */
    }
}